<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.manchesterunited">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Goalkeeper"
            android:label="Goalkeepers" />
        <activity
            android:name=".Defender"
            android:label="Defenders" />
        <activity
            android:name=".Midfielder"
            android:label="Midfielders" />
        <activity
            android:name=".Attacker"
            android:label="Attackers"></activity>
        <activity
            android:name=".Information"
            android:label="Information"></activity>
    </application>

</manifest>